﻿@{
    Layout = "";
}
@model ConfigurationModel
@using NopBrasil.Plugin.Payments.PagSeguroTransparent;
@using Nop.Web.Framework;

<div style="color:Red;">
    @Html.ValidationSummary(false)    
</div>

<div>
    <a href="http://www.nopcommercebrasil.com"><img src="/Plugins/Payments.PagSeguroTransparent/Content/Images/nopCommerceBrasil.png"></a>
    <br />
    <p>
        Este plugin foi desenvolvido por <a href="http://www.nopcommercebrasil.com">NopCommerce Brasil - http://www.nopcommercebrasil.com</a><br />
        Em caso de dúvidas ou problemas por favor entre em contato conosco através do email <a href="mailto:nopcommercebrasil@nopcommercebrasil.com" target="_top">nopcommercebrasil@nopcommercebrasil.com</a><br />
        Este plugin é open-source e seu código-fonte está disponível no <a href="https://github.com/nopCommerceBrasil">GitHub do NopCommerce Brasil</a> no repositório <a href="https://github.com/nopCommerceBrasil/NopBrasil.Plugin.Payments.PagSeguroTransparent">NopBrasil.Plugin.Payments.PagSeguroTransparent</a>
    </p>
    <br />
</div>

<div>
    <p>PagSeguro é uma ferramenta do UOL que disponibiliza mais de 15 formas de pagamento, para mais informações e para criar sua conta acesse: https://pagseguro.uol.com.br </p>
</div>

@using(@Html.BeginForm())
{        
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td>
                @Html.NopLabelFor(model => model.PagSeguroEmail):             
            </td>
            <td Width="800">                     
                @Html.EditorFor(model => model.PagSeguroEmail)                
            </td>
        </tr>
        <tr>
            <td>
                @Html.NopLabelFor(model => model.PagSeguroToken):
            </td>
            <td Width="800">                     
                @Html.EditorFor(model => model.PagSeguroToken)              
            </td>
        </tr>
        <tr>
            <td>
                @Html.NopLabelFor(model => model.PagSeguroUrl):
            </td>
            <td Width="800">
                @Html.EditorFor(model => model.PagSeguroUrl)
            </td>
        </tr>
        <tr>
            <td>
                @Html.NopLabelFor(model => model.PagSeguroUrlSTC):
            </td>
            <td Width="800">
                @Html.EditorFor(model => model.PagSeguroUrlSTC)
            </td>
        </tr>
        <tr>
            <td>
                @Html.NopLabelFor(model => model.MaxInstallmentsNumberInterestFree):
            </td>
            <td Width="800">
                @Html.EditorFor(model => model.MaxInstallmentsNumberInterestFree)
            </td>
        </tr>
        <tr>
            <td>
                @Html.NopLabelFor(model => model.Timeout):
            </td>
            <td Width="800">
                @Html.EditorFor(model => model.Timeout)
            </td>
        </tr>
        <tr>
            <td>
                @Html.NopLabelFor(model => model.DescricaoBoleto):
            </td>
            <td Width="800">
                @Html.EditorFor(model => model.DescricaoBoleto)
            </td>
        </tr>
        <tr>
            <td>
                @Html.NopLabelFor(model => model.DescricaoDebito):
            </td>
            <td Width="800">
                @Html.EditorFor(model => model.DescricaoDebito)
            </td>
        </tr>
        <tr>
            <td>
                @Html.NopLabelFor(model => model.CpfAttributeName):
            </td>
            <td Width="800">
                @Html.EditorFor(model => model.CpfAttributeName)
            </td>
        </tr>
        <tr>
            <td colspan="2" width="100%">
                <input type="submit" name="save" class="t-button" value="@T("Admin.Common.Save")" />
            </td>
        </tr>
    </table>
}


