﻿@model NopBrasil.Plugin.Payments.PagSeguroTransparent.Models.PaymentInfoModel
@{
    Layout = "";
}

@using System;
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework;
@using Nop.Web.Models.Common;

<style>
    .cartao-validade select {
        max-width: 126px;
    }
</style>

<div class="section payment-method">
    <ul class="method-list">
        <li>
            <div class="method-name">
                <div class="payment-logo">
                    <label for="paymentmethod_cartao">
                        <img src="" alt="Check / Money Order">
                    </label>
                </div>
                <div class="payment-details">
                    <input id="paymentmethod_cartao" type="radio" name="paymentmethod" onclick="ViewPaymentMethodController.setVisibleTrueCartao()" value="CartaoCredito">
                    <label for="paymentmethod_cartao">CartaoCredito</label>
                </div>
            </div>
        </li>
        <li>
            <div class="method-name">
                <div class="payment-logo">
                    <label for="paymentmethod_debito">
                        <img src="" alt="Credit Card">
                    </label>
                </div>
                <div class="payment-details">
                    <input id="paymentmethod_debito" type="radio" name="paymentmethod" onclick="ViewPaymentMethodController.setVisibleTrueDebito()" value="Debito">
                    <label for="paymentmethod_debito">Debito</label>
                </div>
            </div>
        </li>
        <li>
            <div class="method-name">
                <div class="payment-logo">
                    <label for="paymentmethod_boleto">
                        <img src="" alt="Purchase Order">
                    </label>
                </div>
                <div class="payment-details">
                    <input id="paymentmethod_boleto" type="radio" name="paymentmethod" onclick="ViewPaymentMethodController.setVisibleTrueBoleto()" value="Boleto">
                    <label for="paymentmethod_boleto">Boleto</label>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="cartao">
    <div class="form-fields" id="cartao-credito">
        <div class="inputs" id="NumeroCartaoCredito">
            @Html.LabelFor(model => model.NumeroCartao, new { }, ":")
            @Html.EditorFor(model => model.NumeroCartao)
            @Html.RequiredHint()
            @Html.ValidationMessageFor(model => model.NumeroCartao)
        </div>

        <div class="inputs">
            @Html.LabelFor(model => model.Validade, new { }, ":")
            @Html.EditorFor(model => model.Validade)
            @Html.RequiredHint()
            @Html.ValidationMessageFor(model => model.Validade)
        </div>


        <div class="inputs">
            @Html.LabelFor(model => model.CVV, new { }, ":")
            @Html.EditorFor(model => model.CVV)
            @Html.RequiredHint()
            @Html.ValidationMessageFor(model => model.CVV)
        </div>

        <div class="inputs">
            @Html.LabelFor(model => model.NumeroParcelaId, new { }, ":")
            @Html.DropDownList("NumeroParcelaId", Model.NumeroParcelas)
            <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
            @Html.RequiredHint()
            @Html.ValidationMessageFor(model => model.NumeroParcelaId)
        </div>

        <div class="inputs">
            @Html.LabelFor(model => model.NomeTitular, new { }, ":")
            @Html.EditorFor(model => model.NomeTitular)
            @Html.RequiredHint()
            @Html.ValidationMessageFor(model => model.NomeTitular)
        </div>

        <div class="inputs">
            @Html.LabelFor(model => model.CpfTitular, new { }, ":")
            @Html.EditorFor(model => model.CpfTitular)
            @Html.RequiredHint()
            @Html.ValidationMessageFor(model => model.CpfTitular)
        </div>

        <div class="inputs">
            @Html.LabelFor(model => model.Telefone, new { }, ":"))
            @Html.EditorFor(model => model.Telefone)
            @Html.RequiredHint()
            @Html.ValidationMessageFor(model => model.Telefone)
        </div>

        <div class="cartao-validade">
            <div class="inputs date-of-birth">
                <label>@T("Plugins.Payments.PagSeguroTransparent.Fields.Cartao.DataNascimento"):</label>
                @Html.DatePickerDropDowns(Html.FieldNameFor(x => x.DiaNascimento),
                                    Html.FieldNameFor(x => x.MesNascimento),
                                    Html.FieldNameFor(x => x.AnoNascimento),
                                    DateTime.Now.Year - 110,
                                    DateTime.Now.Year,
                                    Model.DiaNascimento,
                                    Model.MesNascimento,
                                    Model.AnoNascimento,
                                    true,
                                    "style=max-width:126px;")
                @Html.RequiredHint()
                @Html.ValidationMessageFor(model => model.DiaNascimento)
                @Html.ValidationMessageFor(model => model.MesNascimento)
                @Html.ValidationMessageFor(model => model.AnoNascimento)
            </div>
        </div>
    </div>
</div>

<div id="boleto">
    <img src="" alt="Mini boleto" /> @Html.Raw(@Model.DescricaoBoleto)
    <h1>TESTE</h1>
</div>

<div id="debito">
    <ul class="method-list">
        <li>
            <div class="method-name">
                <div class="payment-logo">
                    <label for="paymentmethod_0">
                        <img src="" alt="Check / Money Order">
                    </label>
                </div>
                <div class="payment-details">
                    <input id="paymentmethod_0" type="radio" name="paymentmethod" value="CartaoCredito" checked="checked">
                    <label for="paymentmethod_0">CartaoCredito</label>
                </div>
            </div>
        </li>
        <li>
            <div class="method-name">
                <div class="payment-logo">
                    <label for="paymentmethod_1">
                        <img src="" alt="Credit Card">
                    </label>
                </div>
                <div class="payment-details">
                    <input id="paymentmethod_1" type="radio" name="paymentmethod" value="Debito">
                    <label for="paymentmethod_1">Debito</label>
                </div>
            </div>
        </li>
        <li>
            <div class="method-name">
                <div class="payment-logo">
                    <label for="paymentmethod_2">
                        <img src="" alt="Purchase Order">
                    </label>
                </div>
                <div class="payment-details">
                    <input id="paymentmethod_2" type="radio" name="paymentmethod" value="Boleto">
                    <label for="paymentmethod_2">Boleto</label>
                </div>
            </div>
        </li>
    </ul>
</div>
<script type="text/javascript" src="/Plugins/Payments.PagSeguroTransparent/Content/js/PaymentCheckoutTransparent.js"></script>
<script>
	Initializer.start('@Model.Amount', '@Model.MaxInstallmentsNumberInterestFree', '@Model.SessionId', '@Model.Url', '@T("Common.Wait...")');
    ViewPaymentMethodController.setVisibleTrueCartao();
    document.getElementById("paymentmethod_cartao").checked = true;
	ViewPaymentMethodController.registerEvents();
</script>
